service: prayer-wall-backend

frameworkVersion: '3'

useDotenv: true

provider:
  name: aws
  runtime: nodejs22.x
  region: eu-west-2
  stage: ${opt:stage, 'dev'}
  environment:
    BUCKET_NAME: ${self:custom.bucketName}
  iamRoleStatements:
    - Effect: Allow
      Action:
        - s3:PutObject
        - s3:GetObject
        - s3:ListBucket
      Resource:
        - arn:aws:s3:::${self:custom.bucketName}
        - arn:aws:s3:::${self:custom.bucketName}/*
package:
  individually: true
  patterns:
    # Exclude frontend and non-backend assets from Lambda bundles
    - '!../Frontend/**'
    - '!../prayerbackground.jpg'
    - '!../PrayerWall.png'
    - '!../webbackground.png'
    # Exclude various development / meta files
    - '!.git/**'
    - '!**/*.md'
    - '!**/*.log'
    - '!**/.DS_Store'
    - '!node_modules/.cache/**'
plugins:
  - serverless-offline

custom:
  bucketName: stpetersbaptist-prayerwall

functions:
  uploadPrayerRequest:
    handler: handlers/uploadPrayerRequest.handler
    events:
      - httpApi:
          path: /prayers
          method: POST
    url:
      cors: true

  getPrayerRequests:
    handler: handlers/getPrayerRequests.handler
    events:
      - httpApi:
          path: /prayers
          method: GET
    url:
      cors: true
