/* Global Style */
body {
  font-family: 'DM Sans', sans-serif;
  background-color: #364b5c; /* dark blue */
  background-image: url("/webbackground.png");
  background-size: cover;
  margin: 0;
  padding: 1rem;
  text-align: center;
  color: #e8e8e8;
  
}

h1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  filter: drop-shadow(1px 1px 5px #000000d4);
}

/* Buttons container */
#buttons {
  display: flex;
  height: 300px;
  justify-content: center;
  gap: 2rem;
  
  margin-bottom: 2rem;
}

/* Main Buttons (Praise / Prayer) */
.main-btn {
  background-color: #fea02f;
  color: rgb(14, 14, 14);
  border: none;
  padding: 2.5rem 6rem;
  font-size: 3.5rem;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  filter: drop-shadow(1px 1px 5px #000000d4);
}

.main-btn.selected {
  background-color: #ffa83fd2;
  transform: scale(1.1);
  filter: drop-shadow(1px 1px 5px #000000d4);
}

/* Form Styling */
#entryForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  filter: drop-shadow(1px 1px 5px #000000d4);
}

textarea {
  width: 80%;
  height: 120px;
  border-radius: 10px;
  border: 1px solid #aaa;
  padding: 1rem;
  font-size: 2rem;
  font-family: 'DM Sans', sans-serif;
  resize: none;
}

input[type="text"] {
  width: 80%;
  padding: 0.8rem;
  font-size: 1.5rem;
  border-radius: 10px;
  border: 1px solid #aaa;
}

/* Submit Button */
.submit-btn {
  background-color: #00c853;
  color: white;
  border: none;
  padding: 1rem;
  font-size: 1.7rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.submit-btn:hover {
  background-color: #00a046;
  transform: scale(1.05);
}
